* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;  /*grammatoseira*/
}

.bluespan{
    color: #42A2DA;
}

p.mainblackletters{     /*ta kiria mayra grammata pou vazw sta keimena*/
    font-size: 13px;
    
}